a {
  color: inherit;
  text-decoration: none;
}
.medsos {
	padding:5px 0;
	background-color: grey;
}
.medsos ul li{
	display: inline-block;
  color: #fff;
  margin: 10px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.container:after {
  content: "";
  display: block;
  clear: both;
}
header h1 {
  float: left;
  padding: 15px 0;
  color: green;
}
header ul {
  float: right;
}
header ul li {
  display: inline-block;
}
header ul li a {
  padding: 25px 20px;
  display: inline-block;
}
header ul li a:hover {
  background-color: rgba(155, 129, 129, 0.932);
  color: white;
}
.active {
  background-color: rgba(126, 118, 118, 0.918);
  color: white;
}
.aniting {
    height: 60vh;
    background-image: url('img/aniting1.jpg');
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aniting::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  rgba(126, 118, 118, 0.5);
}
.aniting h2 {
    font-size: 32px;
    color: rgba(0, 0, 0, 0.856);
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid black;
}
section {
    padding: 50px 0;
}
section h3 {
    text-align: center;
    padding: 20px 0;
    color: green;
}
.intro p {
    color: black;
    word-spacing: 2px;
    line-height: 25px;
    font-size: 33px;
    text-align: center;
}
footer {
    padding: 30px 0;
    background-color: #333;
    color: white;
    text-align: center;
}
.bg-loader {
    background-color: #cee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-loader .loader {
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50%;
    border-top-color: rgba(126, 118, 118, 0.5);
    border-right-color: rgba(126, 118, 118, 0.5);
    border-bottom-color: rgba(126, 118, 118, 0.5);
    animation: puterin 0.9s linear infinite;
}
.label {
    background-color: gray;
    color: white;
}
.box{
    color: green;
}
.box:after {
    content:"";
    display: block;
    clear: both;
}
.box .col-4 {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}
.box .col-4 h4 {
    margin: 10px 0;
}
.box .col-4 p {
    margin: 10px 0;
}

@keyframes puterin {
    100% {
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
    header h1 {
        text-align: center;
        float: none;
    }
    header ul {
        text-align: center;
        float: none;
    }
}